<div class="bg-{{game.color}} w-full flex flex-col text-gray-100 p-8 rounded-xl
tracking-widest my-8 cursor-pointer" style="font-family: {{game.font}};">
  <div id="portal-area" class="w-full flex justify-center">
    <div class="w-full mx-6 relative">
      <div class="status-bar border-b-4 border-blue-400 absolute top-7"></div>
      <input id="portal-name" type="text" name="portal-name" placeholder=" " class="block
      appearance-none focus:outline-none border-b-4 border-gray-100 w-full bg-transparent
      text-lg text-gray-100">
      <label for="portal-name" class="duration-300 absolute left-0 top-0 mt-8 w-full
      -top-10 -z-1 label text-3xl">Portal name</label>
    </div>
  </div>
  <button id="join-portal-button" onclick="joinPortal('{{game.url}}')" class="place-self-center
  my-4 bg-blue-400 h-12 text-gray-100 p-4 rounded-tl-xl rounded-br-xl rounded-tr
  rounded-bl flex items-center justify-center w-2/3 text-3xl border-4 border-blue-400
  hover:bg-gray-100 hover:text-blue-400">
    Join Portal
  </button>
</div>
