<a href="/liarliar/how-to-play">
    <div class="my-6 flex items-center justify-center bg-{{game.color}} w-full text-white p-4 font-semibold text-2xl lg:text-4xl md:text-3xl text-center rounded-xl tracking-widest shadow-lg hover:shadow-xl transform hover:-translate-y-2"
        style="font-family: 'Sniglet', cursive;">
        <p id="how-to-play" class="p-4 flex-grow">How To Play</p>
    </div>
</a>