<footer class="w-full flex items-center justify-between bg-blue-300 py-12">
  <div class="flex flex-col text-sm lg:px-12 md:px-12 px-4 lg:w-3/12 md:w-5/12 w-8/12">
    <p class="text-blue-500 font-semibold">
      A project by
      <a class="cursor-pointer hover:text-blue-600" href="https://github.com/https-github-com-steversonTong">
        <strong>BABEL</strong>
      </a>.
      You're welcome. 😼
    </p>
    <br>
    <p class="text-blue-500 font-semibold">
      For more information on
      <a class="cursor-pointer hover:text-blue-600" href="https://github.com/https-github-com-steversonTong/BabelBox">
        <strong>BABELbox</strong>
      </a>
      check out our <a href="/help" class="underline hover:text-blue-600">help page</a>.
      If you want to see our source code (we're open source) check out our
      <a href="https://github.com/https-github-com-steversonTong/BabelBox"
        class="underline hover:text-blue-600">GitHub</a>.
    </p>
    <br>
    <p class="text-blue-500 font-semibold">
      Liberal use of <a href="#" class="underline hover:text-blue-600">twemojis</a>
      in this app. We 💜 them.
    </p>
  </div>
  <div
    class="transform hover:scale-125 duration-100 flex flex-col lg:flex-row md:flex-row place-self-start justify-around h-full mx-12 w-1/12">
    <a href="https://github.com/https-github-com-steversonTong/BabelBox">
      <span style="color: #6e5494;" class="my-2">
        <i class="text-2xl fab fa-github-alt"></i>
      </span>
    </a>
  </div>
</footer>