<div class="bg-{{game.color}} grid grid-cols-12 w-full justify-center text-gray-700 p-6 text-4xl text-center rounded-xl tracking-widest my-8" style="font-family: {{game.font}};">
  <div class="col-span-11">
    {{portal.code}}
  </div>
  <div class="text-sm self-start justify-self-end col-span-1">
    <div onclick="copyCode()" class="w-8 h-8 rounded-full text-gray-100 flex items-center justify-center pl-1 cursor-pointer">
      <span class="fa-stack fa-1x">
        <span><i class="far fa-clone"></i></span>
      </span>
    </div>
  </div>
</div>
