<a href="/" class="text-center text-gray-700 font-semibold text-3xl" style="font-family: 'Bungee Outline', cursive;">
  <span class="text-yellow-500 inline-block duration-200 origin-bottom transform ease-in-out">B</span>
  <span class="text-red-500 inline-block duration-200 origin-bottom transform ease-in-out">B</span>
</a>
