{{#each games as |game| }}
<a href="/{{game.title}}/lobby">
  <button class="bg-yellow-500 bg-{{game-color}} w-full text-gray-700 p-8 text-4xl text-center rounded-xl tracking-widest my-8"
    style="font-family: {{game.font}};">
    {{game.title}}
  </button>
</a>
{{/each}}
