<footer class="w-full flex items-center justify-between bg-blue-300 py-12">
  <div class="flex flex-col text-sm mx-12 lg:w-3/12 md:w-5/12 w-8/12">
    <p class="text-blue-500 font-semibold">A project by <strong>BABEL</strong>. You're welcome.</p>
    <br>
    <p class="text-blue-500 font-semibold">
      For more information on <strong>BABELbox</strong> check out our <a href="#" class="underline hover:text-blue-600">help page</a> or <a href="#" class="underline hover:text-blue-600">drop us a line</a>.
      If you are the social media type, we are on <a href="#" class="underline hover:text-blue-600">twitter</a>. If you want to see our source code (we're open source)
      check out our <a href="#" class="underline hover:text-blue-600">GitHub</a>.
    </p>
    <br>
    <p class="text-blue-500 font-semibold">
      Liberal use of <a href="#" class="underline hover:text-blue-600">twemojis</a> in this app. We love them.
    </p>
  </div>
  <div class="flex flex-col lg:flex-row md:flex-row place-self-start justify-around h-full mx-12 w-1/12">
    <span style="color: #1DA1F2;" class="my-2"><i class="text-xl fab fa-twitter"></i></span>
    <span style="color: #6e5494;" class="my-2"><i class="text-xl fab fa-github-alt"></i></span>
    <span class="text-green-600 my-2"><i class="text-xl fas fa-paper-plane"></i></span>
  </div>
</footer>
