{{> nav tinyLogo=true centerText=true}}
<div data-barba="container" data-barba-namespace="how-to-play" class="flex flex-col w-full items-center min-h-screen">
  <div class="h-full w-11/12 md:w-3/4 lg:w-1/3 rounded-xl p-4" style="font-family: {{game.font}};">
    <div
      class="my-6 flex items-center justify-center bg-{{game.color}} w-full text-white p-4 font-semibold text-2xl lg:text-4xl md:text-3xl text-center rounded-xl tracking-widest shadow-lg hover:shadow-xl transform hover:-translate-y-2"
      style="font-family: 'Sniglet', cursive;">
      <h1 id="how-to-play" class="p-4 flex-grow">Liarliar</h1>
    </div>
    <div
      class="my-6 flex-1 items-center justify-center bg-{{game.color}} w-full text-white p-4 text-center rounded-xl tracking-widest shadow-lg">
      <p class="mt-2">There are three phases: Question, Answer, and Waiting</p>
      <div
        class="my-6 flex-1 items-center justify-center bg-green-600 w-full text-white p-4 text-center rounded-xl tracking-widest">
        <h2 class="text-2xl">Question Phase:</h2>

        <p class="mt-2">You'll be given a piece of trivia with a missing word. Fill in the blank with the most
          convincing thing you can think of. The more people that guess your answer, the more points you get!</p>
      </div>
      <div
        class="my-6 flex-1 items-center justify-center bg-indigo-600 w-full text-white p-4 text-center rounded-xl tracking-widest">
        <h2 class="text-2xl">Answer Phase:</h2>
        <p class="mt-2">Try to guess which answer is the actual, correct answer. If you guess correctly you get $100.
          If someone guesses your answer, you get $25!</p>
      </div>
      <div
        class="my-6 flex-1 items-center justify-center bg-pink-600 w-full text-white p-4 text-center rounded-xl tracking-widest">
        <h2 class="text-2xl">Waiting Phase:</h2>
        <p class="mt-2">See all players and scores, change your name, kick rude players, or change the host.</p>
      </div>
      <div class="my-6 flex items-center justify-center w-full text-white p-4 text-center rounded-xl tracking-widest">
        <a href="/liarliar" class="place-self-center mx-auto
      my-4 bg-blue-400 h-12 text-gray-100 p-4 rounded-tl-xl rounded-br-xl rounded-tr
      rounded-bl flex items-center justify-center lg:w-2/3 md:w-2/3 lg:text-3xl md:text-3xl text-xl border-4 border-blue-400
      hover:bg-gray-100 hover:text-blue-400 animate-bounce shadow-xl">
          Play Liarliar
        </a>
      </div>
    </div>
  </div>
</div>

{{#section 'script'}}
<script src="/js/liarliar/liarliar-browserify.js"></script>
{{/section}}
